.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/.oxfmtrc.json
**/.oxlintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
out/test/**
